{include file="public/header" /}
<div class="container">
	<div class="row">
		<div style="width: 100%;background: #ffffff;margin: 0 auto;text-align: center">
		<table class="table table-striped">
			<tr>
				<td>{$gallery}({$stuNum})</td>
			</tr>
		</table>
			{if condition="$stuNum == 0"}
			<div class="alert alert-info" role="alert">暂时还没有相关数据！</div>
			{else/}
		<table class="table table-striped">
			<!--<caption>&nbsp;</caption>-->
			<thead>
			<tr>
				<th>楼座</th>
				<th>人数</th>
				<th>绑定</th>
			</tr>
			</thead>
			<tbody>
			{volist name="$data" id="vo"}
			<tr>
				<td>{$vo.college}</td>
				<td>{$vo.stuNumber}</td>
				<td>0</td>
			</tr>
			{/volist}
			</tbody>
		</table>
			{/if}
		</div>
    </div>

<!--包含菜单文件-->
{include file="public/footer" /}
</div>
</body>
</html>

