<footer class="footer">
    <div class="foot-con">
        <div class="foot-con_2">
            <a href="{:url('index/index')}" class="active">
                <i class="navIcon home"></i>
                <span class="text">首页</span>
            </a>
            <!--<a href="{:url('repair/repair')}" class="active">-->
                <!--<i class="navIcon sort"></i>-->
                <!--<span class="text">报修</span>-->
            <!--</a>-->
            <a href="{:url('user/user')}" class="active">
                <i class="navIcon member"></i>
                <span class="text">我的</span>
            </a>
        </div>
    </div>
</footer>
{load href="__STATIC__/common/common.js" /}