{include file="public/header" /}
<div class="container">
    <div class="row">
        <div style="width: 100%;background: #ffffff;margin: 0 auto;text-align: center">
            <!--定位房间信息-->
            <input type="hidden" id="gallery" name="room" value="{$room}">
            <table class="table table-striped">
                <thead>
                <tr class="column">
                    <th>楼座+楼层</th>
                    <th>房间</th>
                    <th>入住人数</th>
                    <th>已绑定</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{$room}</td>
                    <td>{$roomCount}</td>
                    <td>{$count}</td>
                    <td>0</td>
                </tr>
                </tbody>
            </table>

            {volist name="$data" id="vo"}
            <table class="table table-bordered">
                <thead>
                {volist name="$vo['info']" id="i"}
                <tr>
                    <td colspan="3" style="background: #d6d5c2;color:#ffffff;border-top: hidden;border-left: hidden;border-right: hidden">{$i.room}--{$i.college}</td>
                </tr>
                {/volist}
                </thead>
                <tbody style="text-align: center">
                {volist name="vo['lists']" id="p"}
                {if condition="$p.name == null"}
                <tr style="height: 25px">
                    <td style="width: 20%">{$p.room}</td>
                    <td style="width: 40%"><input type="submit" name="sub" class="linkMale checkroom" value="入住" /></td>
                    <td style="width: 50%">
                        <input type="text" class="check" value="" id="stu_num" maxlength="9" name="major" placeholder="请输入学号" />
                        <input type="hidden" id="room" name="id" value="{$p.id}">
                    </td>
                </tr>
                {else/}
                <tr style="height: 25px">
                    <td style="width: 20%">{$p.room}</td>
                    <td style="width: 40%"><a href="{:url('Search/stuDetail',['id' => $p.id])}"
                                              class="linkMale">{$p.name}</a></td>
                    <td style="width: 50%">{$p.major}</td>
                </tr>
                {/if}
                {/volist}
                </tbody>
            </table>
            {/volist}
            <div class="loadMain" style="width: 100%;background: #ffffff;margin: 0 auto;text-align: center">
            </div>
        </div>
        {if condition = "$length >= 8"}
        <div class="load">
            <a class="load bt" href="javascript:;">点击显示更多</a>
        </div>
        {/if}
    </div>
    {include file="public/footer" /}
</div>
</body>
<script>
    var SCOPE = {
        'room':'{:url('admin/room/getIntoRoom')}'
    }

    $(".container").fadeIn("slow");
    var nStart = 1;
    var roomInfo = $("#gallery").val();
    $(window).scroll(function(){
        //获取当前页面底部距离顶部的高度距离
        var nowTop = Math.ceil($(document).scrollTop()+$(window).height());
        _this = $(this);
        url = "{:url('Room/contentAjax')}";
        if($(document).height()<=nowTop) {
            _this.text("加载中……");
            nStart++;
            $.post(url, {start: nStart, room: roomInfo}, function (res) {
                if (res.status == 1) {
                    data = res.data;
                    info_html = '';
                    $(data).each(function () {
                        info_html += "<table class='table table-bordered'>" + "<thead>";
                        for (var i = 0, len = this.info.length; i < len; i++) {
                            info_html +=
                                "<tr><td colspan='3' style='background: #d6d5c2;color:#ffffff;border-top: hidden;border-left: hidden;border-right: hidden'>" + this.info[i]['room'] + "--" + this.info[i]['college'] +
                                "</td></tr>";
                        }

                        info_html += "</thead><tbody style='text-align: center'>";
                        for (var j = 0, len = this.lists.length; j < len; j++) {
                            ID = this.lists[j]['id'];
                            hrefUrl = "{:url('Search/stuDetail')}?id=" + ID; //切记此种传值方式
                            if (this.lists[j]['name'] == '') {
                                info_html +=
                                    "<tr style='height: 25px'>" +
                                    "<td style='width: 20%'>" + this.lists[j]['room'] + "</td>" +
                                    "<td style='width: 40%'>" +
                                    "<input type='submit' name='sub' class='linkMale checkroom' value='入住' /></td>" +
                                    "<td style='width: 50%'><input type='text' class='check' value='' maxlength='9' name='major' placeholder='请输入学号'>" +
                                    "<input type='hidden' id='room' name='id' value=" + this.lists[j]['id'] + "></td></tr>";

                            } else {
                                info_html +=
                                    "<tr style='height: 25px'>" +
                                    "<td style='width: 20%'>" + this.lists[j]['room'] + "</td>" +
                                    "<td style='width: 40%'>" +
                                    "<a href='" + hrefUrl + "'style='text-decoration: underline'>" + this.lists[j]['name'] + "</a></td>" +
                                    "<td style='width: 50%'>" + this.lists[j]['major'] +
                                    "</td></tr>";
                            }
                        }

                        info_html += "</tbody></table>";
                    });
                    $(".loadMain").before(info_html);
                    _this.text("点击显示更多");
                } else if (res.status == 0) {
                    _this.text("没有更多信息了");
                    $(".load").fadeOut(1500);
                    return false;
                }
            }, 'json');
        }

    });
</script>
</html>