{include file="public/header" /}
<header class="mainheader">
    <div class="fix_nav">
        <div style="max-width:768px;margin:0 auto;height: 44px;position: relative;">
                <div class="navbar-search left-search">
                    <input type="text" id="keyword" name="data" value="" placeholder="姓名、学号、房间、电话" class="form-control">
                </div>
        </div>
    </div>
</header>
<!--搜索部分-->
<div id="SearchMain">
        <div class="fix_nav">
            <div style="max-width:768px;margin:0 auto;height: 44px;position: relative;">
                <form action="{:url('search/index')}" method="post" id="searchform" name="searchform">
                    <div id="searchCss" class="navbar-search right-search">
                        <input type="text" id="content" maxlength="11" name="data" value="" placeholder="搜索" class="form-control" autofocus>
                    </div>
                </form>
                <ul class="predictionCen"></ul>
            </div>
        </div>
    <div class="searchContainer">
        <div class="rows">
            <p class="rows fromP">搜索指定内容</p>
            <div class="rows main">
                <div class="main listP name">姓名</div>
                <div class="main listP stu_num">学号</div>
                <div class="main listP room">房间</div>
                <div class="main listP tel">电话</div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div id="slide">
            <div class="hd">
                <ul>
                    <li class="on">1</li>
                    <li class="on">2</li>
                    <li class="on">3</li>
                </ul>
            </div>
            <div class="bd">
                <div class="tempWrap" style="overflow:hidden; position:relative;">
                    <ul style="width: 3840px; position: relative; overflow: hidden; padding: 0px; margin: 0px; transition-duration: 200ms; transform: translateX(-768px);">
                        <li style="display: table-cell; vertical-align: top; width: 768px;">
                                <img src="__STATIC__/img/61647775-f5d0-4cfe-b84f-96060eb8e2e3.jpg" alt="轮播"
                                     ppsrc="img/0da8eb94-0159-4700-a6a5-bc007da5a853.jpg">
                        </li>
                        <li style="display: table-cell; vertical-align: top; width: 768px;">
                                <img src="__STATIC__/img/0da8eb94-0159-4700-a6a5-bc007da5a853.jpg" alt="轮播"
                                     ppsrc="img/61647775-f5d0-4cfe-b84f-96060eb8e2e3.jpg">
                        </li>
                        <li style="display: table-cell; vertical-align: top; width: 768px;">
                                <img src="__STATIC__/img/efa1dc7b-1375-4876-acae-e344cae7d55c.jpg" alt="轮播"
                                     ppsrc="img/efa1dc7b-1375-4876-acae-e344cae7d55c.jpg">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script charset="utf-8" src="__STATIC__/js/TouchSlide.js"></script>

    <script type="text/javascript">
        TouchSlide({
            slideCell: "#slide",
            titCell: ".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
            mainCell: ".bd ul",
            effect: "left",
            autoPlay: true,//自动播放
            autoPage: true, //自动分页
            switchLoad: "_src" //切换加载，真实图片路径为"_src"
        });
    </script>
    <div class="row category">
        {volist name="$data" id="vo"}
        <a href="{$vo.url}" class="col-xs-3">
            <img class="img-responsive" src="{$vo.img_url}">
            <h4 class="pitch_index">{$vo.name}</h4>
            <span class="green">{$vo.num}</span>
        </a>
        {/volist}
    </div>
    <div class="row category">
        <a  class="col-xs-3" onclick="layer_laert();">
            <img class="img-responsive" src="__STATIC__/img/icon_tel.png">
            <h4 class="pitch_index">公寓电话</h4>
        </a>
        <a  class="col-xs-3" onclick="layer_laert();">
            <img class="img-responsive" src="__STATIC__/img/notice.png">
            <h4 class="pitch_index">通知公告</h4>
        </a>
        <a  class="col-xs-3" onclick="layer_laert();">
            <img class="img-responsive" src="__STATIC__/img/icon_calender.png">
            <h4 class="pitch_index">校历</h4>
        </a>
        <a  class="col-xs-3" onclick="layer_laert();">
            <img class="img-responsive" src="__STATIC__/img/icon_lost.png">
            <h4 class="pitch_index">失物招领</h4>
        </a>
    </div>

</div>
{include file="public/footer" /}

<script type="text/javascript">
    $(document).ready(function () {
        $("#slide img").each(function () {
            var img_src = $(this).attr("_src");
            $(this).attr("src", img_src);
        });
    });

    SCOPE = {
        'searchAjax':'{:url('admin/index/contentAjaxSearch')}',
        'searchIndex':'{:url('admin/Search/stuDetail')}?id='
    }
</script>
</body>
</html>