.table>thead>tr>th { text-align: center;}

.stutd{width: 60%;text-align: left;}
#nodata{text-align: center;color: #0a6999}
.position{float: right}
.form{width: 100%;height: auto;background: #ffffff;margin: 0 auto}
.main{width: 90%;text-align: center;}
.input{width: 100%;height:40px;margin-bottom: 5px}

.buttons{text-align: right;margin-right: 20px;}
.btn-self-lg{padding: 10px;font-size: 1.4rem;margin: 0 auto}
.edit{position: absolute;left: 10px;top:10px;}
.notice{position: absolute;right: 10px;top: 10px;}

.self-btn{text-align: center}
.btn-self-lg{width: 30%;}
.modify_info{width: 100%;height: 200px}
.inputUp{width: 50%;height: auto; border: none;margin-left: 35%;text-align: right;background: none}
.sel{width: 50%; appearance:none;-moz-appearance:none;margin-left: 50%;}

/*加载更多*/
.load{width: 100%;margin: 0 auto;}
.load .btn{text-align: center}

/*表格的头部导航颜色*/
.column{background-color: #2F4056;color: #F0F0F0;}
/*#more:hover{transform: rotate(90deg);transition: transform 0.5s;}*/
/*.myModal{width: 80%;height: 300px;background: #ffffff;position: absolute;left: 0;right: 0;top: 30%;bottom: 0;margin: 0 auto;}*/
/*z-index: 9999;border-radius: 10px;}