{include file="public/header" /}

<div class="container">
    <div class="row">
        <div style="width: 100%;background: #ffffff;margin: 0 auto;text-align: center">
            <table class="table table-bordered">
                <tr class="success">
                    <td colspan="2">房间</td>
                    <td>{$room}</td>
                </tr>
                <tr>
                <th style="width: 20%;text-align: center">序号</th>
                <th style="width: 40%;text-align: center">姓名</th>
                <th style="width: 20%;text-align: center">专业</th>
                </tr>
                <tbody style="text-align: center">
                {volist name="$data" id="vo"}
                <tr style="height: 25px">
                    <td style="width: 20%">{$vo.num}</td>
                    <td style="width: 40%"><a href="{:url('Search/stuDetail',['id' => $vo.id])}" style="text-decoration: underline">{$vo.name}</a></td>
                    <td style="width: 40%">{$vo.major}</td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
    </div>
    <!--包含菜单文件-->
    {include file="public/footer" /}
</div>
</body>
</html>

