{include file="public/header" /}

<div class="container">
	<div class="row">
		<div class="notice-photo">
			<div class="notice-photo-img"></div>
			<div class="notice-photo-btn"><img id="upload" src="__STATIC__/img/add.png" /></div>
		</div>
		<div class="row-box">
			<form class="form-horizontal">
				<textarea name="notice-content" placeholder="请输入通知内容"></textarea>
				<input type="text" name="stu" class="ready" value="韩金池" readonly>
				<div class="form-submit">
				<input type="submit" name="sub" class="btn btn-success btn-log" value="发送">
				</div>
			</form>
		</div>
    </div>

<!--包含菜单文件-->
{include file="public/footer" /}
</div>
</body>
</html>

