{include file="public/header" /}

<div class="container">
	<div class="row">
		<div style="width: 100%;background: #ffffff;margin: 0 auto;text-align: center">
		<table class="table table-striped">
			<!--<caption>床位相关统计需整理部分数据，暂未开放</caption>-->
			<thead>
			<tr class="column">
				<th>楼座</th>
				<th>床位</th>
				<th>空床位</th>
			</tr>
			</thead>
			<tbody>
			<tr class="warning">
				<td>合计</td>
				<td>{$result['totalBed']}</td>
				<td>{$result['totalFreeBed']}</td>
			</tr>
			<tr class="danger">
				<td>女</td>
				<td>{$result['totalFemaleBed']}</td>
				<td>{$result['totalFreeFemaleBed']}</td>
			</tr>
			<tr class="success">
				<td>男</td>
				<td>{$result['totalMaleBed']}</td>
				<td>{$result['totalFreeMaleBed']}</td>
			</tr>
			{volist name="$data" id="vo"}
			<tr style="color: #df706c">
				{if condition="$vo.sex == '女'"}
				<td><a href="{:url('bed/details',['room'=> $vo.room])}" class="linkFemale">{$vo.room}</a></td>
				{else/}
				<td><a href="{:url('bed/details',['room'=> $vo.room])}" class="linkMale">{$vo.room}</a></td>
				{/if}
				<td>{$vo.rooms}</td>
				<td>{$vo.freerooms}</td>
			</tr>
			{/volist}
			</tbody>
		</table>
		</div>
    </div>

<!--包含菜单文件-->
{include file="public/footer" /}
</div>
</body>
</html>

