{include file="public/header" /}

<div class="container">
	<div class="row">
		<div style="width: 100%;background: #ffffff;margin: 0 auto;text-align: center">
		<table class="table table-striped">
			<tbody>
				<tr class="success">
					<a href="{:url('student/edit',['id' => $result['id']])}"><button type="button" class="btn btn-success btn-xs edit">编辑</button></a>
					<img src="__STATIC__/images/user.png" style="width: 20%;">
					<button type="button" onclick="layer_laert()" class="btn btn-danger btn-xs notice">通知</button>
					{if condition="$result['room'] == null"}
					<button type="button" onclick="edit('入住','{:url('room/reviseRoom',['room'=> $result[\'room\'],'id'=>$result[\'id\'],'gender'=>$result[\'gender\'],'stu_num'=>$result[\'stu_num\']])}')" class="btn btn-info btn-xs out">入住</button>
					{else/}
					<button type="button" onclick="edit('退宿','{:url('room/checkOutRoom',['room'=> $result[\'room\'],'id'=>$result[\'id\'],'stu_num'=>$result[\'stu_num\']])}')" class="btn btn-info btn-xs out">退宿</button>
					{/if}
				</tr>
				<tr>
					<td>姓名</td>
					<td class="stutd">{$result['name']}</td>
				</tr>
				<tr>
					<td>性别</td>
					<td class="stutd">{$result['gender']}</td>
				</tr>
				<tr>
					<td>学号</td>
					<td class="stutd">{$result['stu_num']}</td>
				</tr>
				<tr>
					<td>宿舍</td>
					<td colspan="2" class="stutd">
						<a href="{:url('search/oneLists',['room'=>$result['room']])}" class="linkMale">{$result['room']}</a>
						{if condition="$result['room'] == null"}
						{else/}
						<button type="button" class="btn btn-info btn-xs position" onclick="edit('调整宿舍','{:url('room/reviseRoom',['room'=> $result[\'room\'],'id'=>$result[\'id\'],'gender'=>$result[\'gender\']])}')">调宿</button>
						{/if}
					</td>
				</tr>
				<tr>
					<td>班级</td>
					<td class="stutd">{$result['class']}</td>
				</tr>
				<tr>
					<td>电话</td>
					<td class="stutd">{$result['tel']}</td>
				</tr>
				<tr>
					<td>专业</td>
					<td class="stutd">{$result['major']}</td>
				</tr>
				<tr>
					<td>年级</td>
					<td class="stutd">{$result['grade']}</td>
				</tr>
				<tr>
					<td>学制</td>
					<td class="stutd">{$result['len_school']}</td>
				</tr>
				<tr>
					<td>学院</td>
					<td class="stutd">{$result['college']}</td>
				</tr>
				<tr>
					<td>学历</td>
					<td class="stutd">{$result['degree']}</td>
				</tr>
				<tr>
					<td>民族</td>
					<td class="stutd">{$result['nation']}</td>
				</tr>
				<tr>
					<td>退宿原因</td>
					<td class="stutd"></td>
				</tr>
			</tbody>
		</table>
		</div>
    </div>
<!--包含菜单文件-->
{include file="public/footer" /}
</div>
</body>
</html>

