{include file="public/header" /}

<div class="container">
    <div class="row">
        <div style="width: 100%;background: #ffffff;margin: 0 auto;text-align: center">
            <table class="table table-striped">
                <!--<caption>&nbsp;</caption>-->
                <thead>
                <tr  class="column">
                    <th>楼座+楼层</th>
                    <th>房间</th>
                    <th>空房间</th>
                </tr>
                </thead>
                <tbody>
                {volist name="$data" id="vo"}
                <tr>
                    <td><a href="{:url('room/lists',['room'=>$vo.room,'roomCount'=>$vo.totalrooms])}" class="linkMale">{$vo.room}</a></td>
                    <td>{$vo.totalrooms}</td>
                    <td>{$vo.freerooms}</td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
    </div>

    <!--包含菜单文件-->
    {include file="public/footer" /}
</div>
</body>
</html>

