{include file="public/header" /}

<div class="container">
	<div class="row">
		<div style="width: 100%;background: #ffffff;margin: 0 auto;text-align: center">
		<table class="table">
			<!--<caption>&nbsp;</caption>-->
			<thead>
			<tr class="column">
				<th>楼座</th>
				<th>毕业生</th>
			</tr>
			</thead>
			<tbody>
			{volist name="$data" id="vo"}
			{if condition="$vo.gender == '女'"}
			<tr>
				<td><a href="{:url('graduate/details',['room'=>$vo.room])}" class="linkFemale">{$vo.room}</a></td>
				<td>{$vo.total}</td>
			</tr>
			{else/}
			<tr>
				<td><a href="{:url('graduate/details',['room'=>$vo.room])}" class="linkMale">{$vo.room}</a></td>
				<td>{$vo.total}</td>
			</tr>
			{/if}
			{/volist}
			</tbody>
		</table>
		</div>
    </div>

<!--包含菜单文件-->
{include file="public/footer" /}
</div>
</body>
</html>

