{include file="public/header" /}
<div class="maincontainer">
<div class="container" style="max-width:768px;margin:0 auto;">
	<div class="row">
		<div class="member_top member_top_1">
			<div class="member_top_bg"><img  src="__STATIC__/images/member_bg.png"></div>
			<div class="member_m_pic member_m_pic_1">
				<img class="img-circle" src="__STATIC__/images/user.png">
        			</div>
			<div  class="member_m_z member_m_z_1">
				<div class="member_m_x">管理员</div>
				</div>
		</div>
		<div class="list-group mb10">
			<a href="" class="list-group-item tip">
				<div class="list_group_img">
				<img src="__STATIC__/images/member_img16.png"></div>
				当前状态:<span class="gary off-duty">休息</span>
			</a>
		</div>
		<div class="list-group mb10 member_list_group clearfix">
			<a  class="list-group-item col-xs-4" onclick="layer_laert()">
				<div class="m_img"><img src="__STATIC__/images/order_bg_5.png"></div>
				<p class="m_name">我的通知</p>
				<span class="red">0</span>
			</a>
			<a  class="list-group-item col-xs-4" onclick="layer_laert()">
				<div class="m_img"><img src="__STATIC__/images/order_bg_8.png"></div>
				<p class="m_name">我的报修</p>
				<span class="red">&nbsp;&nbsp;</span>
			</a>
			<a  class="list-group-item col-xs-4" onclick="layer_laert()">
				<div class="m_img"><img src="__STATIC__/images/order_bg_9.png"></div>
				<p class="m_name">意见箱</p>
				<span class="red">&nbsp;&nbsp;</span>
			</a>

			<a  class="list-group-item col-xs-4" onclick="layer_laert()">
				<div class="m_img"><img src="__STATIC__/images/order_bg_7.png"></div>
				<p class="m_name">系统消息</p>
				<span class="red">&nbsp;&nbsp;</span>
			</a>
			
		</div>
				
		<div class="list-group mb10">
			<a  class="list-group-item tip" onclick="layer_laert()">
				<div class="list_group_img"><img src="__STATIC__/images/order_bg_10.png"></div>
				常见问题
			</a>
			<a  class="list-group-item tip" onclick="layer_laert()">
				<div class="list_group_img"><img src="__STATIC__/images/order_bg_9.png"></div>
				意见反馈
			</a>
		</div>
		
	</div>
</div>
	<!--包含菜单文件-->
	{include file="public/footer" /}
</div>
</body>
</html>
