<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>抱歉幺，出错了！</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <style>
        *{margin: 0;padding:0;}
        body{background: #ffffff;}
        .container{width:100%;}
        .main{width: 70%;height:100%;margin: 0 auto}
        .icon{width: 100%;height: auto;text-align: center}
        .icon img{width:100px;height:100px;text-align: center;margin: 20px}
        h4{text-align: center;color: #000000;font-size: 1.2em;font-weight: lighter;line-height: 20px}
    </style>
</head>

<body>
<div class="container">
    <div class="main">
        <div class="icon">
            <img src="__STATIC__/images/user.png">
        </div>
        <h4>请用微信客户端打开该链接！</h4>
    </div>
</div>
</body>

</html>